* {
  text-align: center;
}

h1 {
   text-align: center;
}
#one {
  margin: 30%;
}
li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
.navbar {
    background-color: rgb(187, 39, 76);
    color: black;
    font-family: 'Nerko One', cursive;
}
body {
    background-color: cadetblue;
}
.header {
    text-align: right;
    font-family: 'Nerko One', cursive;
    font-size: 75px;
    margin-right: 5%;
}
.leftSide {
    font-family: 'Nerko One', cursive;
    background-color: thistle;
    text-align: center;
    min-height: 700px;
    border-radius: 25px;
    box-shadow: 5px 5px 8px rgb(201, 4, 4), 10px 10px 8px rgb(255, 0, 85), 15px 15px 8px rgb(255, 187, 0);
    margin: 3%;
    width: 30%;
    padding: 2%;
}
.middle {
    font-family: 'Nerko One', cursive;
    background-color: thistle;
    margin-top: 10%;
    text-align: center;
    min-height: 700px;
    border-radius: 25px;
    padding: 2%;
    width: 220px;
    box-shadow: 5px 5px 8px rgb(201, 4, 4), 10px 10px 8px rgb(255, 0, 85), 15px 15px 8px rgb(255, 187, 0);
    

}
.right {
    font-family: 'Nerko One', cursive;
    background-color: thistle;
    
    /* margin-left: 63%; */
    margin-top: 8%;
    text-align: center;
    min-height: 700px;
    border-radius: 25px;
    padding: 2%;
    width: 30%;
    box-shadow: 5px 5px 8px rgb(201, 4, 4), 10px 10px 8px rgb(255, 0, 85), 15px 15px 8px rgb(255, 187, 0);
    margin: 4%;

}

.container {
    display: flex;
    
  }
  .container > div {
    flex: 1; /*grow*/
  }